Flows/Generic/flows-generic-v2021.05.20.json
[{"id":"480d9886.501bc","type":"tab","label":" IoT-Message-Generator ","disabled":false,"info":""},{"id":"29b5f9a0.342616","type":"function","z":"480d9886.501bc","name":"Message generator","func":"\nvar categoryArray = [ \"QUERY\", \"COMMAND\", \"DATAGRAM\", \"EVENT\"]; \nvar categoryInstance = categoryArray[Math.floor(Math.random()*categoryArray.length)]; //getting random category from array\nvar date = new Date(msg.startDate)\ndate.setHours( date.getHours() + parseInt(msg.i)*4) //adding 4 hours to every iteration\ndate.setMinutes( date.getMinutes() + (Math.floor(Math.random() * 201) - 100)) //adding fuzziness to generated timestamp\nvar value = Math.floor(Math.random() * (1000 - 400 + 1)) + 400 // generating random value from a range\n\n\nmsg.payload =   {\n      \"id\": uuidv4(),\n      \"timestamp\": date.toISOString(),\n      \"category\": categoryInstance,\n      \"value\": value\n \n};\n\n\n// UDDI generator function\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":400,"wires":[["7aa70c67.3783a4","cbf8ea1d.da75f"]]},{"id":"ac12be61.ed42b8","type":"inject","z":"480d9886.501bc","name":"Enter your data here & Click","props":[{"p":"iterations","v":"80","vt":"num"},{"p":"cycles","v":"1","vt":"num"},{"p":"startDate","v":"2021-02-01T00:00:01","vt":"str"},{"p":"i","v":"0","vt":"num"},{"p":"j","v":"0","vt":"num"},{"p":"stop","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","x":180,"y":100,"wires":[["415e5de0.6b44ac"]]},{"id":"f3d59296.d25c5","type":"delay","z":"480d9886.501bc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":260,"wires":[["869f6d08.71172"]]},{"id":"7aa70c67.3783a4","type":"delay","z":"480d9886.501bc","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":320,"wires":[["5ba2c960.3a9a78"]]},{"id":"388efa80.5efba6","type":"comment","z":"480d9886.501bc","name":"Read me first","info":"In order to make this example works you have to do the following things:\n---\nConfigure Node-red\n---\n - Install \"node-red-dashboard\" in 'Manage palette\\install'. \n - Enter in a node \"Enter your data here & Click\" proper: \n    \"iterations\" - How many iterations every 4 hours,\n    \"cycles\" - How many cycles per every iteration,\n    \"startDate\" - Date from which data will be generated,\n - Do not change \"i\", \"j\" and \"stop\" parameters unless you do know what you do\n - Deploy a flow\n - To start the flow click \"Enter your data here & Click\" node or enter http://localhost:1880/ui\n - To stop the flow clic \"Stop\" node\n - You can use different connectors to process messages.\n\n\n\n -\n\n","x":110,"y":60,"wires":[]},{"id":"fbb49c5d.dc8bb8","type":"change","z":"480d9886.501bc","name":"","rules":[{"t":"move","p":"payload.iterations","pt":"msg","to":"iterations","tot":"msg"},{"t":"move","p":"payload.cycles","pt":"msg","to":"cycles","tot":"msg"},{"t":"move","p":"payload.startDate","pt":"msg","to":"startDate","tot":"msg"},{"t":"move","p":"payload.stop","pt":"msg","to":"stop","tot":"flow"},{"t":"set","p":"i","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"j","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["869f6d08.71172"]]},{"id":"869f6d08.71172","type":"function","z":"480d9886.501bc","name":"Iterations","func":"while (msg.iterations > msg.i) {\nif (flow.get(\"stop\")) {break;}\nmsg.i++\nreturn [msg, null ];\n}\nmsg.i = 0\nreturn [null, msg];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":400,"y":260,"wires":[["5ba2c960.3a9a78"],[]]},{"id":"5ba2c960.3a9a78","type":"function","z":"480d9886.501bc","name":"Cycles","func":"while (msg.cycles > msg.j) {\nif (flow.get(\"stop\")) {break;}\nmsg.j++\nreturn [msg, null ];\n}\nmsg.j = 0\nreturn [null, msg];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":390,"y":320,"wires":[["29b5f9a0.342616"],["f3d59296.d25c5"]]},{"id":"dfcfca5d.fe89c8","type":"debug","z":"480d9886.501bc","name":"Just a message in JSON - Just a message in JSON - Replace this node with any connector","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":400,"wires":[]},{"id":"cbf8ea1d.da75f","type":"json","z":"480d9886.501bc","name":"","property":"payload","action":"","pretty":false,"x":510,"y":400,"wires":[["dfcfca5d.fe89c8"]]},{"id":"415e5de0.6b44ac","type":"change","z":"480d9886.501bc","name":"","rules":[{"t":"move","p":"stop","pt":"msg","to":"stop","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":100,"wires":[["869f6d08.71172"]]},{"id":"4ad3f854.496218","type":"inject","z":"480d9886.501bc","name":"Stop","props":[{"p":"stop","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":140,"wires":[["415e5de0.6b44ac"]]},{"id":"16b13d20.c235b3","type":"ui_form","z":"480d9886.501bc","name":"http://localhost:1880/ui","label":"IOT MessageGenerator","group":"2bc61f0b.2542e8","order":1,"width":0,"height":0,"options":[{"label":"How many iterations every 4 hours","value":"iterations","type":"number","required":true,"rows":null},{"label":"How many cycles per every iteration","value":"cycles","type":"number","required":true,"rows":null},{"label":"Date to start from","value":"startDate","type":"date","required":true,"rows":null}],"formValue":{"iterations":"","cycles":"","startDate":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":180,"wires":[["fbb49c5d.dc8bb8"]]},{"id":"b49c9501.5e27a8","type":"ui_button","z":"480d9886.501bc","name":"","group":"2bc61f0b.2542e8","order":3,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"stop\":true}","payloadType":"json","topic":"","x":90,"y":220,"wires":[["fbb49c5d.dc8bb8"]]},{"id":"2bc61f0b.2542e8","type":"ui_group","name":"IOT MessageGenerator","tab":"b29d6450.370298","order":2,"disp":true,"width":"6","collapse":false},{"id":"b29d6450.370298","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
